.rt{
    border: 1px;
    background-color: aquamarine;
}
#ru{
    border: 7px solid red;
    background-color: black;
    margin: auto;
    padding: 2px 25px;
    box-sizing: border-box;
    width: 550px;
}
.tr{
    border: 1px;
    background-color: aquamarine;
}
.wq{
   padding: 10px; 
}
h1{
    background-color: rgb(54, 14, 14);
    width: 300px;
    color: white;
    margin: auto;
    box-sizing: border-box;
}
#as{
    background-color: darkcyan;
    width: 700px;
    height: 400px;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}